<mat-toolbar class="toolbar-color">
    <div style="margin-top: 20px;">

    </div>
    <!-- <img src="\assets\images\png\logo.png" class="logo-size" alt=""> -->
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <a href="https:" target="_blank" class="link-color"></a>
    </button>
    <span class="spacer"></span>
    <a mat-button routerLinkActive="active" routerLinkActive="/data/import">Import</a>
    <a mat-button routerLinkActive="active" routerLink="/data/export">Export</a>

</mat-toolbar>