div {
    margin-top: 100px;
  }
  .spacer {
      flex: 1 1 auto;
    }
    .link-color {
      color: white;
    }
    .toolbar-color {
      color: white;
      background: #037DEF;
    }
    .logo-size {
      height: 50px;
      width: 50px;
    }
  
  